*.env
/runs*
/evaluate*

# ignore .venv
*.venv*

# ignore .DS_Store
.DS_Store

# .vscode
.vscode/

#.pycache
__pycache__/
# .pytest_cache
.pytest_cache/
# .ruffcache
.ruff_cache/

# managerディレクトリの中で、manager/MANAGER_AGENT.md以外を無視する
manager/*
# manager/MANAGER_AGENT.mdは無視しない
!manager/MANAGER_AGENT.md
!manager/all_agents.yaml
!manager/project.yaml